.background-sobre{
    background: url(../../img/Fundo.svg);
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: end;
    position: relative;
    overflow: hidden;
    
}
.container-sobre{
    display: flex;
    flex-direction: column;
    background-color: #d5d5d5;
    height: 80vh;
    margin: 100px;
    width: 55vw;
    padding: 80px;
    border-radius: 12px;
   
}
.soldador-img{
    position: absolute;
    left: 200px;
}
.sobre-button{
    display: flex;
    align-self: flex-end;
    justify-content: end;
    margin-top: 100px;
    padding: 10px 80px;
}
.container-sobre h1{
    padding-bottom: 30px;
}
.container-sobre p{
    font-size: 0.8rem;
    padding-bottom: 20px;
    font-family: 'Roboto';
    font-weight: 400;
}
@media (max-width:1286px){
    .soldador-img{
        left: 0;
    }
}
@media (max-width:1100px){
    .soldador-img{
        width:400px;
    }
}
    .sobre-button{
        margin-top: 30px;
    }
    
@media (max-width:876px){
.soldador-img{
    display: none;
}
.container-sobre{
    margin: 20px;
    width:auto;
}
.background-sobre{
    align-items: center;
    justify-content: center;
}
}
@media (max-width:526px){
    .container-sobre{
        padding: 20px;
    }
}
@media (max-width:362px){
    .sobre-button{
        padding: 10px 20px;
        justify-content: center;
        align-self: center;
        margin-top: 10px;
    }
    .container-sobre h1{
        padding-bottom: 8px;
    }
}
@media (max-width:332px){
    .container-sobre p{
        font-size: 0.7rem;
    }
    .container-sobre h1{
        font-size: 1.5rem;
    }
}